* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(36, 17, 37);
  color: wheat;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

ul li {
  color: white;
  list-style: none;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: green;
}

.landing {}