NODE_ENV=<YOUR ENVIRONMENT>
PORT=<YOUR PORT>
MONGO_URI=<YOUR CONNECTION STRING>
GEOCODER_PROVIDER=<YOUR PREFERRED PROVIDER>
GEOCODER_API_KEY=<YOUR GEOCODER API KEY>
FILE_UPLOAD_PATH=<YOUR PATH>
FILE_MAX_UPLOAD_LIMIT=<YOUR LIMIT>
JWT_SECRET=<YOUR JWT SECRET>
JWT_EXPIRE_TIME=<YOUR JWT EXPIRE TIME>
JWT_COOKIE_EXPIRE_TIME=<YOUR JWT COOKIE EXPIRE TIME>
SMTP_HOST=<YOUR SMTP HOST>
SMTP_PORT=<YOUR SMTP PORT>
SMTP_EMAIL=<YOUR SMTP EMAIL>
SMTP_PASSWORD=<YOUR SMTP PASSWORD>
SMTP_FROM_EMAIL=<YOUR SMTP FROM EMAIL>
SMTP_FROM_NAME=<YOUR SMTP FROM NAME>

NODE_ENV=<YOUR ENVIRONMENT>
PORT=<YOUR PORT>
MONGODB_URI_CLOUD=<YOUR CLOUD CONNECTION STRING>
MONGODB_URI_LOCAL=<YOUR LOCAL CONNECTION STRING>
JWT_SECRET=<YOUR JWT SECRET>
JWT_EXPIRE_TIME=<YOUR JWT EXPIRE TIME>
JWT_COOKIE_EXPIRE_TIME=<YOUR JWT COOKIE EXPIRE TIME>
theMVDBAPI=<YOUR theMVDB API KEY>